version: "3.9"

services:
  vaultwarden-kubernetes-secrets:
    build:
      context: ./
      dockerfile: ./VaultwardenK8sSync/Dockerfile
    image: vaultwarden-kubernetes-secrets:local
    env_file:
      - .env
    environment:
      KUBERNETES__INCLUSTER: "false"
      KUBERNETES__KUBECONFIGPATH: /kube/config
      KUBERNETES__DEFAULTNAMESPACE: ${KUBERNETES__DEFAULTNAMESPACE:-default}
      SYNC__CONTINUOUSSYNC: ${SYNC__CONTINUOUSSYNC:-true}
      SYNC__SYNCINTERVALSECONDS: ${SYNC__SYNCINTERVALSECONDS:-3600}
      LOGGING__LOGLEVEL__DEFAULT: ${LOGGING__LOGLEVEL__DEFAULT:-Information}
      LOGGING__LOGLEVEL__MICROSOFT: ${LOGGING__LOGLEVEL__MICROSOFT:-Warning}
      LOGGING__LOGLEVEL__MICROSOFT__HOSTING__LIFETIME: ${LOGGING__LOGLEVEL__MICROSOFT__HOSTING__LIFETIME:-Information}
    volumes:
      - ${USERPROFILE}/.kube/config:/kube/config:ro
    restart: unless-stopped


